[Unit]
Description=N11 Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/n11
ExecStart=/bin/bash -c "cd/var/lib/n11;/usr/local/bin/N11"
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target