div.footer {
  background-color: black;
  height: fit-content;
  padding: 2rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #ccc;
}

div.footer > .row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

div.footer > .row > .col {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  font-family: monospace !important;
  gap: .20rem;
}

div.footer > .row > .col > a {
  text-decoration: none;
  width: fit-content;
  color: #aaa;
  font-size: medium;
}

div.footer > .row > .col > a:hover {
  text-decoration: underline;
}

div.footer > .row > .col > span.title {
  margin-bottom: 1rem;
  font-size: larger;
}

div.footer > .row.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  flex-direction: row;
}

div.footer > .row.end > .copyright {
  color: white;
  font-family: monospace !important;
  font-size: medium;
  font-weight: bold;
  width: fit-content;
  text-align: center;
}

div.footer > .row.end > div {
  display: flex;
  gap: 1rem;
}

div.footer > .row.end > div > a {
  color: skyblue;
  text-decoration: none;
  font-family: monospace !important;
  font-size: medium;
}

div.footer > .row.end > div > a:hover {
  text-decoration: underline;
}

/* Mobile */
@media only screen and (max-width: 1000px) {
  div.footer {
    padding: 2rem 2rem;
  }

  div.footer > .row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  div.footer > .row > .col > span.title {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: .5rem;
  }

  div.footer > .row > .col > a {
    display: none;
  }
}

@media only screen and (max-width: 765px) {
  body > div.footer > div.row.end {
    flex-direction: column;
  }
}