body>div {
    background-color: black;
    display: flex;
    min-height: 100vh;
    color: white;
    font-family: monospace;
    padding: 2rem 8rem;
}

body>div>span.title {
    font-size: 1.25rem;
    font-weight: bold;
}