body {
    background-color: black;
}

body>.error {
    background-color: black;
    display: flex;
    min-height: 83vh;
    color: white;
    font-family: monospace;
    padding: 2rem 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

body>.error>span.title {
    font-size: 1.25rem;
    font-weight: bold;
}

body>.error>span.description {
    font-size: 1rem;
    max-width: 25rem;
    text-align: center;
}


.lm {
    color: skyblue;
    text-decoration: none;
}

.lm:hover {
    text-decoration: underline;
}